@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="app">
    <div class="row" ng-controller="RestaurantController">
        <div class="col-md-3" ng-repeat="res in Restaurants">
            <restaurant restaurant="res"></restaurant>
        </div>
    </div>
</div>