@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="app.Hippo">
    <div ng-controller="RestaurantController">
        <div class="row">
            <div class="col-lg-4 col-sm-6" ng-repeat="res in Restaurants" id="r{{res.id}}">
                <restaurant restaurant="res" remove="remove(id)"></restaurant>
            </div>
            <span uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" uib-dropdown-toggle>
                    Click me for a dropdown, yo!
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li ng-repeat="choice in items">
                        <a href>{{choice}}</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>